<!DOCTYPE html>
<html>
    <head>
          <title>back-task5</title>
          <link rel="stylesheet"  href="css/style.css" />
    </head>

    <body>
      <div class="header1">
          <a href="/">Home</a>
          <a href="/weather">Weather</a>
          <a href="/check">Weather Check</a>
      </div>
    </body>
</html>