<!DOCTYPE html>
<html>
<head>
      <title>back-task5</title>
      <link rel="stylesheet"  href="css/style.css" />
</head>
<body>
      <h2>{{>header}} </h2>
      <h2 class="title1">Enter country name</h2>
      <form>
      <input type="text" id="address" placeholder="country name">
      <br><button>Search</button>
      </form>
      <p id="location"></p>
      <p id="longandlat"></p>
      <p id="condition"></p>
      <p id="error"></p> 
      <script src="js/script.js"></script>
</body>
</html>